@font-face {
  font-family: 'Devonshire-Regular';
  src: url("../fonts/Devonshire-Regular.ttf");
}

@font-face {
  font-family: 'Heart-Warning';
  src: url("../fonts/Heart-Warming.otf");
}

@font-face {
  font-family: 'CroissantOne-Regular';
  src: url(../fonts/CroissantOne-Regular.ttf);
}

@font-face {
  font-family: 'DancingScript';
  src: url(../fonts/DancingScript.ttf);
}

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url(../fonts/KaushanScript-Regular.ttf);
}

@font-face {
  font-family: 'SweetyStrawberry';
  src: url(../fonts/SweetyStrawberry.ttf);
}

@font-face {
  font-family: 'Vinegar-Regular';
  src: url(../fonts/Vinegar-Regular.otf);
}

a {
  text-decoration: none;
}

button {
  border-radius: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  height: 45px;
  width: 265px;
  margin: 50px 100px;
  background: #579C87;
  border: 0px none;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  color: #FFC107;
  font-size: 1.3rem;
}

.content {
  margin-top: 20px;
  margin-bottom: 150px;
}

.les-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 900px;
  margin: auto;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  text-align: center;
  height: 100%;
}

header {
  background: #579C87;
  height: 110px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__title {
  margin: 0px;
  color: #FFC107;
  font-size: 4rem;
  letter-spacing: -4px;
}

footer {
  background: #579C87;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

footer .footer__mentions {
  color: #FFC107;
  text-align: center;
  font-size: 1.2rem;
}

footer .footer__contact {
  color: #FFC107;
  text-align: center;
  font-size: 1.2rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 366px;
  width: 264px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px #c2c0c0;
          box-shadow: 0px 0px 10px 3px #c2c0c0;
}

.menu.menu--note {
  background: #fcdfdb;
}

.menu.menu--chic {
  background: #fff5fe;
}

.menu.menu--delice {
  background: #f9f9f9;
}

.menu.menu--palette {
  background: #fdfffd;
}

.menu .fas {
  font-size: 3em;
  background: -webkit-gradient(linear, left top, right top, from(#f15d61), to(#f6916a));
  background: linear-gradient(to right, #f15d61, #f6916a);
  color: transparent;
  -webkit-background-clip: text;
}

.menu .divnote {
  padding-top: -3rem;
}
/*# sourceMappingURL=style.css.map */