header {
    background: $vertdeau;
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: center;
        .header__title{
         margin: 0;
        color: $jaune;
        font-size: 4rem;
        letter-spacing: -0.25rem;
        padding-top: 0.9rem;
        }
}