.carte{
text-align: center;
margin: auto;
margin-bottom: 100px;
max-width: 700px;
@include carte;
font-size: 16px;
    .dessert{
        text-align: left;
    }
    .platprix{
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }
    h2{
        font-size: 3em;
    }
    h3{
        display: block;
        position: relative;
        line-height: 30px;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        font-size: 1.1em;
    }
   
    
}