@font-face{
    font-family: "Heart-Warming"; src: url("../../fonts/Heart-warming/Heart-Warming.otf") format("opentype")
}

@font-face{
    font-family: "Sweety-Strawberry"; src: url("../../fonts/sweety-strawberry/Sweety-Strawberry.ttf") format("ttf")
}

@font-face{
    font-family: "Vinegar"; src: url("../../fonts/Vinegar/Vinegar-Regular.otf") format("opentype")
}

* { box-sizing: border-box; }