a {
    text-decoration: none;
}

.button {
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.6s;
    height: 2.8rem;
    width: 16.6rem;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 240px;
    background: $vertdeau;
    border: 0 none;
    padding: 0.31rem 0.31rem;
    color: $jaune;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
        p{
            margin: 0;
            margin-right: 5px;
        }
        span {
            width: 0.38rem;
            height: 0.38rem;
            margin:0;
            border-radius: 50%;
            background-color: #fdcb46;
            display: inline-block;
            @include Dots;
        }
}

.content {
    margin: 1.25rem 4% 4.4rem 4%;
}

.les-menus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 56.25rem;
    @include tablette {
        width: 100%;
    }
    @include mobile {
        flex-direction: column;
        width: 100%;
    }
}
html,
body {
    font-family: "Archivo";
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
}

.menu {
    @include carte;
    height: 30rem;
    width: 21.5rem;
    margin: 1.25rem;
    @include tablette {
        height: 405px;
        width: 305px;
    }
    @include mobile {
        height: 345px;
        width: 260px;
    }
    &:hover > .zoom {
        transform: scale(1.25);
        opacity: 0.5;
    }
    .zoom {
        transition: all 0.5s;
        p {
            margin: 0;
        }
        h3 {
            margin-top: 1.25rem;
            margin-bottom: 0;
            font-weight: 400;
        }
    }
}
.menu--note {
    background: $note;
    .fas {
        @include note;
    }
    i {
        font-size: 3rem;
    }
    p:nth-of-type(1) {
        font-family: "Devonshire";
        font-size: 1.6rem;
        color: #3d1319;
    }
    h3 {
        font-family: "Nanum Pen Script";
        color: #3d1319;
        font-size: 3rem;
    }
}
.menu--chic {
    background: $chic;
    p:nth-of-type(1) {
        font-family: "Croissant One";
        background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%);
        color: transparent;
        -webkit-background-clip: text;
        font-size: 1.2rem;
    }
    h3 {
        color: #c77412;
        font-family: "Vinegar";
        font-size: 2rem;
    }
}
.menu--delice {
    background: $delice;
    p:nth-of-type(1) {
        background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 100%);
        color: transparent;
        -webkit-background-clip: text;
        font-family: "Dancing Script";
        font-size: 1.6rem;
    }
    h3 {
        color: #0887fb;
        font-family: "Nanum Pen Script";
        font-size: 3rem;
    }
}
.menu--palette {
    background: $palette;
    p:nth-of-type(1) {
        background: linear-gradient(135deg, #3e923a 0%, #beff7f 100%);
        color: transparent;
        -webkit-background-clip: text;
        font-family: "Kaushan Script";
        font-size: 1.6rem;
    }
    h3 {
        background: linear-gradient(135deg, #3e923a 0%, #beff7f 100%);
        color: transparent;
        -webkit-background-clip: text;
        font-family: "Nanum Pen Script";
        font-size: 3rem;
    }
}
