.carte--chic{
    background: $chic;
    padding: 80px 40px 120px 40px;
    >h2{
        font-family: "Croissant One";
        background: linear-gradient(135deg, #e38a12 30%, #9056ff 65%);
        color: transparent;
        -webkit-background-clip: text;
        font-size: 1.8em;
    }
    .entree, .plat, .dessert{
        @include marginepd
    }
    >.orange{
    color: #e38a12;
    margin-top: 30px;
        h3::before{
            background: url(../img/LineL-chic-entree.svg) $nrc;
            @include decoL
        }
        h3::after{
            background: url(../img/LineR-chic-entree.svg) $nrc;
            @include decoR
        }        
    }
    >.violet{
    color: #a56899;
        h3::before{
            background: url(../img/LineL-chic-plat.svg) $nrc;
            @include decoL
        }
        h3::after{
            background: url(../img/LineR-chic-plat.svg) $nrc;
            @include decoR
        }
    }
    >.bleu{
    color: #6e4ccc;
        h3::before{
            background: url(../img/LineL-chic-dessert.svg) $nrc;
            @include decoL
        }
        h3::after{
            background: url(../img/LineR-chic-dessert.svg) $nrc;
            @include decoR
        }
    }
}