$vertdeau: #579C87;
$jaune: #FFC107;
$note: #fcdfdb;
$chic:#fff5fe ;
$delice:#9e9e9e26 ;
$palette:#fdfffd;
$nrc: no-repeat center;
$textnote: #3d1319;
$purple: #a56899;
$orange: #e38a12;
$blue: #6e4ccc;


// Map: Breakpoints pour le responsive
$breakpoints: (
    mobile: 500px
);
