@mixin note {
            background: linear-gradient(to right, #f15d61, #f6916a);
            color: transparent;
            -webkit-background-clip: text;
}

@mixin carte {
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px 3px #c2c0c0;   
    display: flex;
}

@mixin decoL{
    display: inline-block;
    content: " ";
    text-shadow: none;
    background-size: 100%;
    width: 30%;
    height: 30px;
    position: absolute;
    left: 0;
}

@mixin decoR {
    display: inline-block;
    content: " ";
    text-shadow: none;
    background-size: 100%;
    width: 30%;
    height: 30px;
    position: absolute;
    right: 0;
}

@mixin marginepd {
    margin: 0px 50px 0px 50px;
}